<% if (recentLogs.length === 0) { %>
  <div class="empty-state">No recent logs</div>
<% } else { %>
  <% recentLogs.slice(0, 5).forEach(log => { %>
    <a href="/logs/<%= log.file %>" class="log-item-link">
      <div class="log-item">
        <div class="log-header">
          <span class="log-title"><%= log.title %></span>
          <span class="log-date"><%= log.date || '' %></span>
        </div>
        <% if (log.sessionType) { %>
          <span class="log-type"><%= log.sessionType %></span>
        <% } %>
        <% if (log.summary) { %>
          <div class="log-summary"><%= log.summary %></div>
        <% } %>
      </div>
    </a>
  <% }) %>
<% } %>
